body {
  background-color: rgb(212, 201, 201);
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}

.home-banner {
  padding-top: 12vh;
}


// A REVOIR
// .content {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);

// }

.profile-pic {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-bottom: 5%;
}

.first-line-text {
  margin-bottom: 5%;
}

.about-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  li {
    font-size: 12px;
    opacity: .7;
    margin-top: 2px;
    margin-bottom: 0;
  }

  .about-card-infos {
    padding: 16px;
  }
}










