  <!-- Section ABout / cv -->
  <div class="about">
  <!-- card 1 -->
    <div class="about-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="about-card-infos">
        <h2>Manager</h2>
        <p>2019 - Present | Deloitte Digital Factory | Paris, France</p>
        <ul>
          <li>Gestion de projets: pilotage et suivi de projet en mode agile (définition des sprint, suivi du backlog, animation des ateliers, etc.), établir le planning, estimer la charge de développement associée à chaque sprint, estimer le coût de développement des projets, définir les exigences techniques des projets, etc.</li>
          <li>Gestion d'équipes: gestion de la charge de travail d'une équipe de 10 développeurs et 3 product managers sur une dizaine de missions</li>
          <li>Assurance Qualité</li>
        </ul>
      </div>
    </div>
  <!-- card 2 -->
    <div class="about-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="about-card-infos">
        <h2>Robotics Product Manager </h2>
        <p>2017 - 2019 | Deloitte Digital Factory | Paris, France</p>
        <ul>
          <li>Définition de la roadmap et des sprints de développement en lien avec les objectifs et challenges du projet</li>
          <li>Définition des des User Stories, priorisation et maintenance du backlog</li>
          <li>Rédaction de spécifications fonctionnelles et techniques</li>
          <li>Rédaction des cas de tests, assistance à la conception du code et au "debugging"</li>
        </ul>
      </div>
    </div>
<!-- card 3 -->
    <div class="about-card">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="about-card-infos">
        <h2>Actuaire</h2>
        <p>2015 - 2017 | Mercer | New York, USA</p>
        <p>2013 - 2015 | Mercer | Montréal, Canada</p>
        <ul>
          <li>Modélisation de la tarification de produits d'assurances (Excel, R, VBA)</li>
          <li>Gestion de projets RH: recherches, benchmark, implémentation de politiques RH / bien-être des employés / polices d'assurances</li>
        </ul>
      </div>
    </div>
  </div>
