<div class="home-banner">
  <div class="intro-container">
    <div class="first-line">
      <div class="first-line-text">
        <h1>Maude Couturier</h1>
        <h3>Fullstack Web Developer</h3>
      </div>
      <%= image_tag "profile.png", class: 'profile-pic', alt: "profile-pic"%>
    </div>
    <p> A REVOIR Alumni du Wagon Paris (mars 2020), j'ai appris dans le cadre de cette formation à
    concevoir et développer des applications web sur un modèle MVC avec Ruby on Rails (RoR) avec un front en Javascript (Vanilla),
    HTML5, SCSS et à les déployer en production avec Heroku.</p>
  </div>


<!-- balise home-banner -->
</div>


