<div class="home-banner">
  <div class="intro-container">
    <div class="first-line">
      <div class="first-line-text">
        <h1>Maude Couturier</h1>
        <h3>Fullstack Web Developer</h3>
      </div>
      <%= image_tag "profile.png", class: 'profile-pic', alt: "profile-pic"%>
    </div>
    <p> A REVOIR Alumni du Wagon Paris (mars 2020), j'ai appris dans le cadre de cette formation à
    concevoir et développer des applications web sur un modèle MVC avec Ruby on Rails (RoR) avec un front en Javascript (Vanilla),
    HTML5, SCSS et à les déployer en production avec Heroku.</p>
  </div>
</div>



<!-- Section ABout / cv -->
<div class="cards">
<!-- card 1 -->
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2>Manager</h2>
        <h3>Deloitte Digital Factory</h3>
        <div>
          <i class="far fa-calendar-alt" style="color:white;"></i>
          <p>Since March 2019</p>
        </div>
        <div>
          <i class="fas fa-map-marker-alt"></i>
          <p>Paris, France</p>
        </div>
      </div>
      <div class="flip-card-back">
        <ul>
          <li>Gestion de projets (Agile)</li>
          <li>Gestion d'équipes</li>
          <li>Assurance qualité</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- div about section -->
</div>


