<ul class="nav ">
  <div class = 'left-section'>
    <li><%= link_to "Home", "#", class: "nav-link" %></li>
  </div>
  <div class="right-section">
    <li><%= link_to "About Me", "#", class: "nav-link" %></li>
    <li><%= link_to "Portfolio", "#", class: "nav-link" %></li>
    <li><%= link_to "Contact Me", "#", class: "nav-link" %></li>
  </div>
</ul>


<div class='banner-card'>
  <h1>Im on home page</h1>
  <img src="images/IMG_0591.JPG" alt="profile-pic">
</div>
